@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Navigating>
        <p>Loading the request page&hellip;</p>
    </Navigating>
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <h1>Sorry</h1>
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>